/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background:#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container με card style */
.container {
  background: #ffffff;
  border-radius: 35px;              
  width: 90%;                       
  max-width: 400px;                 
  text-align: center;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;                     
  
}


.image-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 20px;
}

.circle-bg {
  position: absolute;
  width: 70vw;              
  height: 70vw;
  max-width: 280px;
  max-height: 280px;
  background: #ffffff;
  
  border-radius: 100%;       
  z-index: 0;
  


}

.image-box img {
  width: 60vw;              
  max-width: 240px;
  height: auto;
  position: relative;
  z-index: 1;
}

/* Welcome  */
.welcome {
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 5px;
  margin-top: 20px;
  color:#ad8b50;
  text-align: center;
}

/* Box with shadow */
.box {
  box-shadow: 0 4px 20px rgba(225, 169, 64, 0.2);
  border-radius: 30px;
  text-align: center;
  background-color: rgb(161, 141, 114);
  width: 100%;
  max-width: 320px;
  margin: 10px auto;
  padding: 20px 10px;
}

/* Content */
.content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #0c0c0c;
}

.content p {
  font-size: 16px;
  color: #050505;
  padding: 0 10px;
}

/* Κουμπί */
.button-box {
  margin-bottom: 30px;
  text-align: center;
}

.btn {
  display: inline-block;
  background: #cda96b;
  color: white;
  padding: 16px 50px;
  border-radius: 50px;          /* πολύ στρογγυλεμένο */
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #c6bdb0;
}
.lang-switcher {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1000;
}

.lang-switcher select {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
  background: white;
  cursor: pointer;
}


/* Responsive extra */
@media (max-width: 480px) {
  .content h2 {
    font-size: 20px;
  }

  .content p {
    font-size: 14px;
  }

  .btn {
    font-size: 16px;
    padding: 14px 40px;
  }
}
