<!DOCTYPE html>
<html lang="{{ session.get('lang', 'el') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ t['change_password_title'] }}</title>

    <link rel="stylesheet" href="/static/change_pass.css">
</head>
<body>

    <div class="container">
        <h2>{{ t['change_password_h2'] }}</h2>

        <form method="POST">
            <label for="old_pw">{{ t['current_password'] }}</label>
            <input type="password" name="old_password" id="old_pw" required>

            <label for="new_pw">{{ t['new_password'] }}</label>
            <input type="password" name="new_password" id="new_pw" required>

            <label for="confirm_pw">{{ t['confirm_new_password'] }}</label>
            <input type="password" name="confirm_password" id="confirm_pw" required>

            <button class="btn" type="submit">{{ t['save'] }}</button>
        </form>

        <a href="{{ url_for('profile', username=session['username']) }}" class="back">
            {{ t['back'] }}
        </a>
    </div>

</body>
</html>
